nav {
  background-color:lavender;
  padding: 15px 35px 15px;
}

ul {
  display:flex;
  justify-content: center;
  justify-content: space-evenly;
  list-style-type: disc;
  padding: .5px; 
  margin-bottom: 35px;
  border-radius: 40px;
  display: flex;
}
body{
  background: #f4f4f4;
  color: navy;
}
          
h1 {
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
  justify-content: center;
}
header {height: 200px;
  background-image: linear-gradient(#c4a7fe, #d1bafe, #e3d4ff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.gallery-container{
width:400px;
  height:600px; 
}
